<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Photographic Record
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img *ngIf="photoPath" [src]="photoPath">

  <p *ngIf="!photoPath" class="ion-padding">
    No has sacado ninguna foto ¿a qué esperas?
  </p>
  
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
