<ion-header>
  <ion-toolbar>
    <ion-title class="title">Lista de la compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-chip *ngFor="let item of items | async">
    <ion-avatar>
      <img [src]="item.imageUrl">
    </ion-avatar>
    <ion-label class="text capitalize">
      {{ item.name }} <strong>{{ item.quantity }}</strong>
    </ion-label>
    <ion-icon name="blank">
    </ion-icon>
    <ion-icon
      name="create"
      (click)="goEditItem(item.itemId)">
    </ion-icon>
    <ion-icon
      name="close-circle"
      color="danger"
      (click)="itemService.deleteItemById(item.itemId)">
    </ion-icon>
  </ion-chip>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      (click)="addItem()"
      color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
