<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-icon name="key" class="key" align-self-center></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p>
    Se le enviará un correo electrónico a la dirección que nos indique
    para recuperar la contraseña.
  </p>

  <ion-list>
    <ion-item>
      <ion-label text-center position="floating">Correo electrónico</ion-label>
      <ion-input text-center clearInput class="text" [(ngModel)]="email">
      </ion-input>
    </ion-item>
  </ion-list>

  <ion-button
    expand="block"
    class="text capitalize"
    color="success"
    shape="round"
    (click)="resetPassword()">
    Aceptar
  </ion-button>

  <ion-button
    expand="block"
    class="text capitalize"
    color="danger"
    shape="round"
    href="/login">
    Cancelar
  </ion-button>
</ion-content>