<ion-header>
  <ion-toolbar>
    <ion-title class="title">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-icon name="contact" class="person" align-self-center></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item>
      <ion-label text-center position="floating">Correo electrónico</ion-label>
      <ion-input text-center clearInput class="text" [(ngModel)]="email">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label text-center position="floating">Contraseña</ion-label>
      <ion-input text-center class="text" type="password" [(ngModel)]="password">
      </ion-input>
    </ion-item>
  </ion-list>

  <ion-button
    expand="block"
    class="text capitalize"
    color="success"
    shape="round"
    (click)="login()">
    Aceptar
  </ion-button>

  <br>
  <div class="center">
    <a class="text" href="/create-account">
      <ion-icon name="person-add"></ion-icon>
      Crear una cuenta
    </a>
    <br>
    <a class="text" href="/recover-password">
      <ion-icon name="mail"></ion-icon>
      Recuperar contraseña
    </a>
  </div>

  {{ user | json }}
</ion-content>