<ion-menu side="end" menuId="main-menu" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item
        *ngIf="authService.getCurrentUser() | async"
        (click)="logout()">
        <ion-icon name="exit" slot="start"></ion-icon>
        <ion-label>Salir de la cuenta</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label>Configuración</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-label>Sobre la aplicación {{ logged }} </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
